<div class = "container p-4">
    <div class = "row">
        <div class = "col-md-6 mx-auto">
            <div class = "card">
                <div class = "card-header text-center"> 
                  <h1>Buscar calificaciones </h1>
                  <h3>Introduce tu código de estudiante para revisar tus calificaciones.</h3>
                </div>
                <div class = "card-body cardBack letters">
             <form action ="/aspcalif" method="POST">
                 <label>Código: </label>
                 <input type="text" placeholder="Código" class="form-control" name="code" required="required"/>
            <div class = "text-center">
                 <input class="normalButton" type="submit" value="Enviar" id="subirEncuesta">
            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div> 
        {{#if sears}}
        <div class = "row">
    <h3>Lista de calificaciones:</h3>
    <br>
    <table class = "table table-bordered table-striped" >
          <thead class="table-Color">
              <tr>
                  <th> Nombre completo </th>
                  <th> Curso</th>
                  <th> 1ra calificación </th>
                  <th> 2da calificación </th>
                  <th> 3ra calificación </th>
                  <th> 4ta calificación </th>
                  <th>Promedio </th>
              </tr>
          </thead>
          <tbody >
              {{#each sears}}
              <tr>
                <td>{{nombre}} {{appat}} {{apmat}}</td>                  
                <td>{{nombre_curso}}</td>    
                <td>{{first}}</td>
                <td>{{second}}</td>
                <td>{{third}}</td>
                <td>{{fourth}}</td>
                <td>{{promedio}}</td>
              </tr>
              {{/each}}
          </tbody>
    </table>

</div>
{{/if}}
    </div>
</div>