<div class="container accordion para">
    <button type="button" class="accordion__button">
       Pagos pendientes: {{cResult}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre del curso</th>
                  <th>Fecha de solicitud</th>
                  <th>Vacante</th>
                  <th>Correo</th>
                  <th>Nivel</th>
                  <th>Precio</th>
                  <th>Nombre del maestro</th>
                  <th>Metodos de pago</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each arrayDebt}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{fecha}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{correo}}</td>    
                <td>{{nivel}}</td>
                <td>{{precio}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>             
               <a href="/newcurso/edit/{{codigo}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
              </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>
<script>
    document.querySelectorAll(".accordion__button").forEach((button) => {
        button.addEventListener("click", () => {
            const contenido = button.nextElementSibling;
            button.classList.toggle("accordion__button--active");
            if (button.classList.contains("accordion__button--active")) {
                contenido.style.maxHeight = contenido.scrollHeight + "px";
            } else {
                contenido.style.maxHeight = 0;
            }
        });
    });
</script>