<div class="container p-4">
    <div class="row">
        {{#if (eq et "Nada")}}
        <form>
             <h1>¡No estás inscrito en ningún curso! </h1>    
              <label class = "courseFont"> Actualmente no estás activo en ningún curso.</label> 
        </form>
        {{else}}
                <div class="col-md-6 mx-auto" >
                <h2>¡Bienvenido! </h2>
                <label class = "courseFont"> Actualmente estás activo en el siguiente curso:</label> 
                <br>  
                <label class = "courseFont"> <span class = "negritas">Nombre del curso:</span> {{et.nombre_curso}}</label> 
                <br>  
                <label class = "courseFont"> <span class = "negritas">Código:</span> {{et.codigo}}</label> 
                <br>  
                <label class = "courseFont"> <span class = "negritas">Maestro:</span> {{et.nombre}} {{et.appat}}</label> 
                <br> 
                <label class = "courseFont"> <span class = "negritas">Descripción:</span>  {{et.des}}</label>                   
                </div>
                 
                     <div class="col-md-6 mx-auto" >
                    <label class = "courseFont"><span class = "negritas">Estado:</span>  {{et.estado}}</label>   
                     <br>  
                    <label class = "courseFont"><span class = "negritas">Horario:</span>  {{et.horario}}</label> 
                    <br>  
                    <label class = "courseFont"> <span class = "negritas">Días:</span> {{et.dias}}</label> 
                     <br>   
                    <div class="card-footer bg-transparent border-dark">
                         <a href="/micurso/bitacora/{{et.id_curso}}" class = "buttonF btn btn-primary btn-lg" >Ver bitácora</a>
                    </div>     
                     </div>     
        {{/if}}
    </div>
</div>