<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Niños. Cursos disponibles: {{cursosA}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoA}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{resultado}}/{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
                <td>             
               <a href="/registercurso/edit/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
              </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Basicos jovenes y adultos. Cursos disponibles: {{cursosB}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoB}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{resultado}}/{{vacantes}}</td>    
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
                  <td>             
               <a href="/registercurso/edit/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: intermedio para jóvenes y adultos. Cursos disponibles: {{cursosC}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoC}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
               <td>{{resultado}}/{{vacantes}}</td>      
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
                  <td>             
               <a href="/registercurso/edit/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Pre-avanzado para jóvenes y adultos. Cursos disponibles: {{cursosD}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoD}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
               <td>{{resultado}}/{{vacantes}}</td>      
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
              <td>             
               <a href="/registercurso/edit/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Avanzado para jóvenes y adultos. Cursos disponibles: {{cursosE}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoE}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
               <td>{{resultado}}/{{vacantes}}</td>     
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td>
                  <td>             
               <a href="/registercurso/edit/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Intensivo nivel básico. Cursos disponibles: {{cursosF}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th>Maestro/a</th>
                  <th>Estado</th>
                  <th>Vacantes</th>
                  <th>Horario</th>
                  <th>Dias</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoF}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
              <td>{{resultado}}/{{vacantes}}</td>      
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
                  <td>             
               <a href="/registercurso/solicitar/{{id_curso}}" class = "btn btn-success">
              <i class = "fas fa-sign-in-alt" ></i>
              </a>
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class = "container">
    <div class = "col-md-5 mx-auto margin3">
                      <div class="card text-white bg-dark mb-4" >
                <div class="card-body">
                    <h2 class="card-title"> ¿Ya perteneces  a un curso?  </h2>
                    <p class="card-text"> Por favor haz click aquí y sigue las instrucciones:
                    </p>
                    <div class = "text-center">
                         <a href="/coursecode" class = "btn btn-success"><i class= "fas fa-users"> </i> <label>  Unirse a un curso</label></a>    
                    </div>
                </div>
               
            </div>  
    </div>
</div>

<script>
    document.querySelectorAll(".accordion__button").forEach((button) => {
        button.addEventListener("click", () => {
            const contenido = button.nextElementSibling;
            button.classList.toggle("accordion__button--active");
            if (button.classList.contains("accordion__button--active")) {
                contenido.style.maxHeight = contenido.scrollHeight + "px";
            } else {
                contenido.style.maxHeight = 0;
            }
        });
    });
</script>