<div class="container p-4">
        <div class="row">
                {{#if (eq user.funcion "admin")}}
                <div class="col-md-6 mx-auto" >
                <h1>Bienvenido! </h1>
                </div>
                {{/if}}
              {{#if (eq user.funcion "maestro")}}
             <div class="col-md-6 mx-auto" >
                <h1>Bienvenido maestro </h1>
                 <div class="card pr">
                    <div class = "card-body letrasdark">
                    <h3 class="card-title  text-center" style="color: black;" >¡Bienvenido(a)!</h3>
                    <h3 style="color: black;">Tus datos: </h3>
                    <label class = "card-text"> Nombre: {{user.nombre}}</label> 
                    <br>  
                    <label class = "card-text"> Apellido paterno: {{user.appat}}</label> 
                     <br>  
                    <label class = "card-text"> Apellido materno: {{user.apmat}}</label>   
                     <br>  
                    <div class="card-footer bg-transparent border-dark">
                         <a href="/editdata/{{user.id_aspirante}}" class = "buttonF btn btn-danger btn-lg" >Editar datos</a>
                         <a href="/editpass/{{user.id_aspirante}}" class = "buttonF btn btn-primary btn-lg" >Editar contraseña</a>
                    </div>
                </div>
                </div>
                 </div>
                 {{/if}}
                 {{#if (eq user.funcion "aspirante")}}
               
                <body onload="fecha_de_hoy()">
        <div class = "col-md-3 " style="padding: 2;">
        <div class = "card">
         <div class = "card-header cardColor">
              <p class = "card-text">Días faltantes para pagar mensualidad:</p>
           </div>
               <div class = "card-body">
                 <label id="countdown"> </label>
                   </div>
                </div>
              </div>
               <div class="col-md-6 mx-auto" >
                <div class="card pr">
                    <div class = "card-body letrasdark">
                    <h3 class="card-title  text-center" style="color: black;" >¡Bienvenido(a)!</h3>
                    <h3 style="color: black;">Tus datos: </h3>
                    <label class = "card-text"> Nombre: {{user.nombre}}</label> 
                    <br>  
                    <label class = "card-text"> Apellido paterno: {{user.appat}}</label> 
                     <br>  
                    <label class = "card-text"> Apellido materno: {{user.apmat}}</label>   
                     <br>  
                    <label class = "card-text"> Fecha de nacimiento: {{{formatdate user.birthday "MM-DD-YYYY"}}}</label> 
                    <br>  
                    <label class = "card-text"> Número de celular: {{user.numero}}</label> 
                     <br>  
                    <label class = "card-text"> Código: {{user.codigo}}</label> 
                    <br>  
                    <label class = "card-text"> Email: {{user.usser}}</label> 
                    </div>
                    <div class="card-footer bg-transparent border-dark">
                         <a href="/editdata/{{user.id_aspirante}}" class = "buttonF btn btn-danger btn-lg" >Editar datos</a>
                         <a href="/editpass/{{user.id_aspirante}}" class = "buttonF btn btn-primary btn-lg" >Editar contraseña</a>
                    </div>
                </div>
                </div>
                </body>
                {{/if}}
        </div>
</div>
</div>

<script>

    function fecha_de_hoy(){
        var hoy = new Date();
        var mes_Siguiente = new Date();
        mes_Siguiente.setMonth(mes_Siguiente.getMonth()+1, 1);
        mes_Siguiente.setHours(0,0,0);
        hoy.setHours(0,0,0);
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const diffDays = Math.round(Math.abs((hoy - mes_Siguiente) / oneDay));
        if(diffDays <= 2){
         document.getElementById("countdown").style.color =  'red';
         document.getElementById("countdown").style.fontSize =  '30px';
        document.getElementById("countdown").innerHTML = diffDays;
        }if(diffDays >= 3 && diffDays < 8){
         document.getElementById("countdown").style.color =  'yelllow';
         document.getElementById("countdown").style.fontSize =  '30px';
        document.getElementById("countdown").innerHTML = diffDays;
        }
        else{
        document.getElementById("countdown").style.color =  'green';
         document.getElementById("countdown").style.fontSize =  '30px';
        document.getElementById("countdown").innerHTML = diffDays;  
        }
        //return diffDays;
    }
</script>