<div class="contaier p-4">
                {{#if (eq a "")}}
        <form>
             <h1>¡Nadie se ha inscrito a este curso! </h1>    
              <label class = "courseFont"> No hay nadie activo por el momento.</label> 
        </form>
        {{else}}
<div class = "row">
    <h3>Lista de aspirantes en este curso:</h3>
    <br>
    <table class = "table table-bordered table-striped" >
          <thead class="table-Color">
              <tr>
                  <th> Nombre completo </th>
                  <th> Número</th>
                  <th> Email</th>
                  <th> Estado</th>
              </tr>
          </thead>
          <tbody >
              {{#each a}}
              <tr>
                <td>{{nombre}} {{appat}} {{apmat}}</td>  
                <td >{{numero}}</td>
                <td>{{usser}}</td>                  
                <td>{{estado}}</td>    
              </tr>
              {{/each}}
          </tbody>
    </table>
{{/if}}
</div>
</div>