<div class="contaier p-4">
                    {{#if (eq a "")}}
        <form>
             <h1>¡Nadie se ha inscrito a este curso! </h1>    
              <label class = "courseFont"> No hay nadie activo por el momento.</label> 
        </form>
        {{else}}
<div class = "row">
    <div class = "col-md-9 mx-auto">
         <h3> Agregar calificación de cada estudiante:</h3>
    <br>
    <form action="/actcalif" method="POST">
    <table class = "table table-bordered table-striped" >
          <thead class="table-Color">
              <tr>
                  <th>ID</th>
                  <th> Nombre completo </th>
                  <th> 1ra calificación </th>
                  <th> 2da calificación </th>
                  <th> 3ra calificación </th>
                  <th> 4ta calificación </th>
                  <th> Promedio </th>
              </tr>
          </thead>
          <tbody >
              {{#each a}}
              <tr>
                <td style="width:10%"><input class = "form-control" value="{{id_aspirante}}" type="number" required="required" name="id[]" readonly></td>
                <td style="width:30%">{{nombre}} {{appat}} {{apmat}}</td>
                <input type="hidden" value="{{id_calif}}" name="id_calif[]">     
                <td style="width:10%"><input class = "form-control" value="{{first}}"type="number" required="required" name="first[]" ></td>
                <td style="width:10%"><input class = "form-control" value="{{second}}"type="number" required="required" name="second[]" ></td>
                <td style="width:10%"><input class = "form-control" value="{{third}}"type="number" required="required" name="third[]" ></td>
                <td style="width:10%"><input class = "form-control" value="{{fourth}}"type="number" required="required" name="fourth[]" ></td>
                <td style="width:10%"><input class = "form-control" value="{{promedio}}"type="number" required="required" name="promedio[]" ></td>
              </tr>
               <input type="hidden" value="{{id_curso}}" name="id_curso">
              {{/each}}
          </tbody>
    </table>
        <input type="submit" class="btn btn-success btn-lg" value="Aceptar">
       </form>
</div>
{{/if}}
</div>
    </div>
   