<div class = "container p-4">
    <div class = "row">
        <div class = "col-md-6 mx-auto">
            <div class = "card">
                <div class = "card-header text-center"> 
                  <h1> Crear nuevo curso </h1>
                </div>
                <div class = "card-body cardBack letters">
             <form action ="/newcurso" method="POST" autocomplete="off">
                 <label>Nombre del curso: </label>
                 <input type="text" placeholder="Nombre del curso" class="form-control" name="nombre" required="required" />
                <label>Codigo:</label>
                <div>
                <input class = "randomButton" type="button" onclick="kata()" value="Codigo aleatorio"></input>
                </div>
                 <input type="text"  placeholder="Codigo" class="form-control" name="codigo" id="demo" required="required" />
                <label>Maestro:</label>
                <select class="font-stuffs" id="maestro" name="maestro"> 
                    <option value = "error"> -Selecciona maestro- </option>
                    {{#each maestro}}
                    <option value = {{id_aspirante}}>{{nombre}} {{appat}}</option>
                    {{/each}}
                   </select>
                    <br>
                  <label>Vacantes:</label>
                 <input type="number" placeholder="Numero de vacantes" class="form-control" name="vacantes" required="required" />  
                  <label>Horario:</label>
                 <input type="text" placeholder="Horario" class="form-control" name="horario" required="required" />
                  <label>Dias:</label>
                 <input type="text" placeholder="Dias" class="form-control" name="dias" required="required" />
                  <label>Descripcion:</label>
                 <input type="text" placeholder="Descripcion" class="form-control" name="descripcion" required="required" />
                    <label>Nivel:</label>
                     <select class="font-stuffs" id="nivel" name="nivel"> 
                    <option value = "error"> -Selecciona nivel- </option>
                    {{#each nivel}}
                    <option value = {{id_nivel}}>{{nivel}}</option>
                    {{/each}}
                   </select>
            <div class = "text-center">
                 <input class="normalButton" type="submit" value="Enviar" id="newcurso">
            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>

<script>
    async function kata(){
        try{
            document.getElementById("demo").value = Math.floor(100000 + Math.random() * 900000);
        }catch(e){
            document.getElementById("demo").value = e;
        }
    }
</script>