<div class="contaier p-4">
    <div class = "row">
        <a href="/verm/add" class = "btn btn-success">
              <i class = "fas fa-user-plus" ></i>
            <label> Agregar nuevo maestro</label>
        </a>
    </div>
<div class = "row p-2">
    <table class = "table table-bordered table-striped" >
          <thead class="table-Color">
              <tr>
                  <th> Nombre</th>
                  <th> Apellido paterno</th>
                  <th> Apellido Materno</th>
                  <th> Fecha de nacimiento</th>
                  <th> Numero</th>
                  <th> Email </th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody >
              {{#each hola}}
              <tr>
                <td >{{nombre}}</td>
                <td>{{appat}}</td>
                <td>{{apmat}}</td>
                <td>{{{formatdate birthday "MM-DD-YYYY"}}} </td>
                <td>{{numero}}</td>
                <td>{{usser}}</td>
                <td>       
            <a href="/verm/edit/{{id_aspirante}}" class = "btn btn-success">
            <i class = "fas fa-user-edit"></i>
            </a>
             <a href="/verm/drop/{{id_aspirante}}" class = "btn btn-danger">
              <i class = "far fa-trash-alt" ></i>
              </a>
            <a href="/verm/editpass/{{id_aspirante}}" class = "btn btn-primary">
              <i class = "fas fa-key" ></i>
              </a>
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>

</div>
</div>