<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Niños. Numero de vacantes: {{cursosA}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoA}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Basicos jovenes y adultos. Numero de vacantes: {{cursosB}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoB}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: intermedio para jóvenes y adultos. Numero de vacantes: {{cursosC}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoC}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Pre-avanzado para jóvenes y adultos. Numero de vacantes: {{cursosD}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoD}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Avanzado para jóvenes y adultos. Numero de vacantes: {{cursosE}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoE}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        Nivel: Intensivo nivel básico. Numero de vacantes: {{cursosF}}
    </button>
    <div class="accordion__content">
<table class = "table" >
          <thead class="table-curso">
              <tr>
                  <th>Nombre</th>
                  <th> Maestro/a</th>
                  <th> Estado</th>
                  <th> Vacantes</th>
                  <th> Horario</th>
                  <th> Dias</th>
                  <th> Descripcion</th>
              </tr>
          </thead>
          <tbody class="table-curso">
              {{#each resCursoF}}
              <tr>
                <td >{{nombre_curso}}</td>
                <td>{{nombre}} {{appat}}</td>
                <td>{{estado}}</td>  
                <td>{{vacantes}}</td>   
                <td>{{horario}}</td>    
                <td>{{dias}}</td>
                <td>{{des}}</td> 
            </td>
              </tr>
              {{/each}}
          </tbody>
    </table>
    </div>
</div>

<script>
    document.querySelectorAll(".accordion__button").forEach((button) => {
        button.addEventListener("click", () => {
            const contenido = button.nextElementSibling;
            button.classList.toggle("accordion__button--active");
            if (button.classList.contains("accordion__button--active")) {
                contenido.style.maxHeight = contenido.scrollHeight + "px";
            } else {
                contenido.style.maxHeight = 0;
            }
        });
    });
</script>