<div class = "container p-4">
    <div class = "row">
        <div class = "col-md-6 mx-auto">
            <div class = "card">
                <div class = "card-header text-center"> 
                  <h1>Buscar calificaciones </h1>
                  <h3> Por favor poner tu codigo de estudiante para revisar tus calificaciones.</h3>
                </div>
                <div class = "card-body cardBack letters">
             <form action ="/links/calif" method="POST">
                 <label>Codigo: </label>
                 <input type="text" placeholder="Codigo" class="form-control" name="code" required="required"/>
            <div class = "text-center">
                 <input class="normalButton" type="submit" value="Enviar" id="subirEncuesta">
            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div> 
        {{#if sears}}
        <div class = "row">
    <h3>Lista de calificaciones:</h3>
    <br>
    <table class = "table table-bordered table-striped" >
          <thead class="table-Color">
              <tr>
                  <th> Nombre completo </th>
                  <th> Curso</th>
                  <th> Calififacion </th>
              </tr>
          </thead>
          <tbody >
              {{#each sears}}
              <tr>
                <td>{{nombre}} {{appat}} {{apmat}}</td>                  
                <td>{{nombre_curso}}</td>    
                <td>{{calificacion}}</td>
              </tr>
              {{/each}}
          </tbody>
    </table>

</div>
{{/if}}
    </div>
</div>